.add{
    display: flex;
    align-items: center;
    justify-content: space-between;
   width: 400px;
}
.addbtn{
    border: 2px solid #334155;
    width: 90px;
    height: 35px;
    background-color:#334155 ;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    outline: none;
    transition: .5s;
}
.addbtn:hover{
    background-color: #f1f5f9;
    color:#334155
}
.amount{
    display: flex;
    flex-direction: row;
    /* align-items: ; */
    justify-content: space-evenly;
}
.expenseBox{border: 1px solid #334155;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    font-weight: bold;
}
.expenseBox span{
    font-weight: bold;
    color:green;
}